{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Login {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary border-0 mb-0">

            <div class="card-body px-lg-5 py-lg-5">
              <h4 class="card-title mb-4">Reset Password</h4>
              {% include 'includes/alerts.html' %}
              <form role="form" action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Create Password" name="password">
                     </div> <!-- form-group// -->
                     <div class="form-group">
                 <input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password">
                     </div> <!-- form-group// -->
           
           
                     <div class="form-group">
                         <button type="submit" class="btn btn-primary btn-block"> Reset  </button>
                     </div> <!-- form-group// -->
              </form>
              <p class="text-center mt-4">Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>


            </div>
          </div>

        </div>
      </div>
    </div>



{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}